

.search{border:2px solid #ff7a00; margin-right:5px;}
.searchtitle{height:34px; line-height:34px; background-image:url(../images/searchbg.jpg); background-repeat:repeat-x;}
.searchtitle img{float:left; margin:5px;}
.searchtitle h2{color:#FFFFFF; padding:0 0 0 10px; font-size:12px; text-align:left; line-height:34px;}
.searchcontent{padding:5px; width:230px;}
.searchselect{font-weight:bold;}
.searchsub{text-align:center; padding:5px 0 0 0;}
.searchsubmit{width:137px; height:34px; border:0px; background-image:url(../images/searchsubmit.jpg); background-repeat:no-repeat; cursor:pointer;}
.searchcontent td{height:22px; line-height:22px;}

.xuqiu{text-align:left; width:195px; margin-left:5px; border:1px solid #e6e6e6;}
.xuqiu h2{font-size:12px; color:#ff7c06; height:30px; line-height:30px; padding-left:5px; padding-top:5px;}
.xuqiu h2 span{ float:left;}
.xuqiu h2 a{color:#ff7c06; font-weight:normal; float:right;}
.xuqiucontent{padding:5px;}
.xuqiucontent ul li{height:23px; line-height:23px; border-top:1px solid #e6e6e6;}
.xuqiucontent ul li span{display:block; background-image:url(../images/xuqiubg.jpg); background-repeat:no-repeat; width:15px; height:15px; line-height:15px; text-align:center; margin:5px 5px 0 0; background-color:#898989; color:#ffffff; float:left;}

.bodyleft{margin-left:10px;}
.bodyright{margin-right:10px;}
.left_xuqiu{text-align:left; border:1px solid #ffdc76; margin-bottom:10px;}
.left_xuqiu h2{font-size:12px; color:#333333; height:28px; line-height:28px; padding-left:10px;background-image:url(../images/xuqiutopbg.jpg); background-repeat:repeat-x;}
.left_xuqiu h2 span{ float:left;}
.left_xuqiu h2 a{color:#ff7c06; font-weight:normal; float:right;}
.left_xuqiucontent{padding:5px;}
.left_xuqiucontent ul li{width:70px; line-height:30px; float:left; margin-left:15px;}
.left_xuqiucontent ul li span{text-align:center;color:#ff8100;}
.leftboda{padding-bottom:5px;}
.leftboda span{font-size:12px; color:#ff7c06;padding:0 5px 0 5px;font-family:arial;}
.yudingtel{padding:5px 0 0 10px;width:198px;height:48px;background-image:url(../images/yudingtel.jpg); background-repeat:no-repeat; color:#ff7c06; font-size:15px; font-weight:bold;}
.yudingtel span{font-family:arial;font-size:16px;}

.contentbody{margin-top:5px;}
.jinxuan{margin-top:5px;}
.title{border-bottom:2px solid #e6a33b; height:40px; line-height:40px; margin-bottom:10px;}
.title h2{font-size:16px; font-weight:bold; color:#000000; padding-left:20px;}
.list{margin-top:2px;}
.list h3{padding-bottom:3px; font-size:14px;}
.list h3 a{color:#333333;}

.list ul li{width:245px; text-align:left; float:left; margin-bottom:20px;}
.list ul li div.pd{padding:6px 15px 0 5px;}
.list ul li span{line-height:25px; height:25px; }

.img_list img{width:235px; height:160px;line-height:160px; text-align:center; border:1px solid #CCC;}
.img_list img:hover{width:233px; height:158px; margin-top:1px;}
.img_list{padding:0px; width:238px; height:164px;}

.bread{color:#9a9a9a; padding:5px 0 5px 0;}
.bread a{color:#9a9a9a; }
.searchselect{border:1px solid #ffdc76; color:#333333; font-weight:normal;margin-bottom:10px;}
.searchs_t{padding:10px; background-color:#fffbe0; border-bottom:1px solid #ff8100;}
.searchs_c{padding:10px;}
.searchs_c a{margin-right:10px; color:#333333;}
.searchs_c a:hover{margin-right:10px; color:#ff8100; text-decoration:none;}
.searchs_c a.curr{padding:2px 5px 2px 5px; background-color:#ff8100; color:#ffffff; }
.searchs_c a:hover.curr{padding:2px 5px 2px 5px; background-color:#ff8100; color:#ffffff; text-decoration:none;}
.search_cl{font-weight:bold;}
.searchs_c td{height:35px; line-height:35px;}
.search_select{border:1px solid #f3efd9; color:#000000; height:30px; line-height:50px; margin-left:10px;}
.search_text{width:200px; height:25px; line-height:25px; font-size:14px; color:#cccccc;padding:0 5px 0 5px;}

.searchbody{margin-bottom:5px 0;}
.searchlist{ border:1px solid #dfdfdf; width:750px;}
.page_list{margin-top:30px; border:1px solid #cccccc; }
.page_list_top{padding:5 2px 2px 5; height:33px; line-height:33px; border-bottom:1px solid #666666; background-image:url(../images/listtopbg.jpg); background-repeat:repeat-x; color:#303030;}
.page_l{font-size:14px; font-weight:bold; color:#303030;  padding:5px 0 0 40px;}
.page_l_more{color:#303030;  padding:5px 0 5px 0;}
.page_list_content{}
.page_list_content ul li{border-bottom:1px solid #ffdc76; padding-bottom:10px; margin:15px 0 15px 0;}
.page_l_c_left{width:224px; height:154px; border:1px solid #CCC; text-align:center; float:left; margin-left:20px;}
.page_l_c_left img{max-width:220px; max-height:160px; margin:2px;}
.page_l_c_right{float:right; text-align:left; width:455px; line-height:200%; margin-right:20px;}
.page_l_c_right h3{font-size:14px; color:#333333;}
.page_l_c_right h3 a{ color:#333333;}
.page_l_c_right h3 span{color:#FF6600; font-size:12px; font-weight:normal; padding-left:20px;}
.page_l_c_right .price{}
.page_l_c_right .price span{color:#ff8100; font-size:14px; font-family:arial;}
.page_l_c_right .tables span{color:#ff8100; font-size:14px; font-family:arial;}
.page_l_c_right .huiyishi{padding-left:10px;}
.page_l_c_right .huiyishi span{ font-weight:bold;}
.page_l_c_right .huiyishi  a{margin-right:5px;}

.page{margin:5px 0 10px 5px; text-align:center;}
.page a{ display:block; float:left; height:25px; line-height:25px; margin-right:10px; text-align:center; border:1px solid #cccccc; padding:0 10px 0 10px; cursor:pointer; text-decoration:none;}
.page a:hover{background-color:#fffbe0; border:1px solid #ff8100;}
.page a.current{background-color:#fffbe0; border:1px solid #ff8100;}
.page b{ display:block; float:left; background-color:#fffbe0; border:1px solid #ff8100; padding:3px 10px 3px 10px;  margin-right:10px; text-align:center;}




.detailbody{width:750px;}
.detailbodytitle{margin-bottom:10px;background-image:url(../images/detaillistbg1.jpg); background-repeat:no-repeat; height:64px; line-height:64px;}
.detailbody h1{font-size:14px; padding-left:10px;}
.detailcontent{border:1px solid #dddddd; padding:10px;}
.detailcontent h1{padding:20px; margin:0px; text-align:center;}
.detailmore{margin:20px 0 10px 0; padding:10px;}
.detailnext{text-align:left;}
.detailnext a{margin-right:20px;}
#container{height:380px; width:680px;}
.detaillist ul{padding:0px; margin:0px;}
.detaillist ul li{border-bottom:1px dashed #cccccc; margin-bottom:15px; padding-bottom:5px;}
.detaillist .lefttile{width:600px;}
.detaillist .lefttile h3{font-size:12px; font-weight:normal;}
.detaillist .lefttile p{padding:0 20px 0 20px;}
.righttime .more{padding:5px 8px 5px 8px; background-color:#ff8100; color:#ffffff;}
.righttime .more a{ color:#ffffff;}
.righttime .more a:hover{ color:#ffffff;}

.mettingdetail{width:730px; border:1px solid #e6e6e6;}
.detailtop{background-color:#f1f1f1; height:33px; line-height:33px; border-bottom:1px solid #999999;}
.detailtop div{text-align:center; background-color:#ffffff; color:#ff7c06; font-size:14px; padding:0 10px 0 10px; width:80px; margin-left:10px;  border-top:1px solid #999999; border-left:1px solid #999999;  border-right:1px solid #999999;}
.detailtop h2{font-size:14px; font-weight:normal; padding-left:10px; color:#ff7c06;}
.mdetailcontent{padding:10px; margin-bottom:20px; line-height:22px;}
.mdetailcontent p{padding:5px 0 5px 0;}
.des{background-color:#F8F8F8; color:#333333; padding:10px;}
.des h1{font-size:15px; color:#333333;}

.met_tab_title{font-weight:bold; height:30px; line-height:30px;border-bottom:1px solid #cccccc;}
.met_tab_list{border-bottom:1px dashed #cccccc; height:30px; line-height:30px;}
.met_tab_list span{color:#ff7c06;}
.met_tab_list span a{color:#ff7c06;}
.mdetail_photo{padding:10px;}
.mdetail_photo li{width:150px; text-align:center; float:left; padding:10px;}
.mdetail_photo li img{max-width:150px; height:150px;}


.hezuo{border:1px solid #d9d9d9; background-color:#f6f6f6;}
.hezuo h2{font-size:14px; margin:10px 0 10px 20px;}
.hezuocontent{ text-align:center; padding-bottom:10px;}

.links{margin-top:10px; border-top:1px solid #e1e1e1; padding-top:15px;color:#999999;}
.links a{color:#999999;}

.foot{margin-top:10px; text-align:center; line-height:30px; background-color:#f1f1f1; padding-top:10px;}


/** flash**/
.col-main {

	width:530px;
	float:left;
	overflow: hidden;
}
.col-sub {

	width:285px;
	float:right;
}
/*½¹µãÍ¼µÄCSS*/
.focus {

	width:530px;
	height:285px;
	overflow:hidden;
	position:relative;
}
.focus ul {
	height:285px;
	position:absolute;
}
.focus ul li {
	float:left;
	width:530px;
	height:285px;
	overflow:hidden;
	position:relative;
	background:#000;
}
.focus ul li div {
	position:absolute;
	overflow:hidden;
}
.focus .btn {
	position:absolute;
	width:750px;
	height:20px;
	right:0;
	bottom:2px;
	padding-left:10px;
	text-align:right;
}
.focus .btn span {
	display:inline-block;
	_display:inline;
	_zoom:1;
	width:16px;
	height:16px;
	text-align:center;
	font:14px/16px Arial;
	margin-right:5px;
	cursor:pointer;
	background:#1b1b1b;
	color:#fcc;
	border:#1b1b1b 1px solid;
}
.focus .btn span.on {
	background:#b22423;
	color:#fff;
	border:#d72b29 1px solid;
}

.focus .flashpx{left:0; top:0; width:530px; height:285px;}
/** flash over **/